:root {
	--content-width: 800px;
	--bg-color: white;
	
	--bg-patter-url-left: url("bg-pattern.png");
	--bg-patter-url-right: url("bg-pattern.png"); /* same like in left if mirror */
	
	--bg-squares-url-left: url("bg-pattern-squares.png");
	--bg-squares-url-right: url("bg-pattern-squares.png"); /* same like in left if mirror */
	
	/* mirror. swap both */
	--bg-mirror-val1: -1; /* -1 is mirror | 1 is no mirror */
	--bg-mirror-val2: left; /* left is mirror | right is no mirror */
	
	/* fade */
	--bg-fade-color: var(--bg-color); /* transparent is no fade || var(--bg-color) is with fade */
	--bg-fade-width-start: 200px;
	--bg-fade-width-end: 50px;
	
	/* point of reference for gradient */
	--bg-fade-point: var(--screen-edge-margin); /* --content-edge | --screen-edge-margin */
	--screen-edge-margin-width: 100px; /* require only when --bg-fade-point is --screen-edge-margin and --bg-repeat is repeat */
	
	
	/* fill left and right spaces */
	--bg-repeat: repeat; /* repeat-y is no fill spaces | repeat is fill spaces */
	
	/* original size or scale to pattern width (set in --screen-edge-margin-width) or scale to spaces width */
	--bg-pattern-size: auto; /* options: auto | var(--screen-edge-margin-width) | calc(100% - var(--content-edge))  */
	
	/* leave as it is */
	--content-edge: calc(var(--content-width) / 2);
	--screen-edge-margin: calc(100% - var(--screen-edge-margin-width, 100px));
	--bg-fade-start: calc(var(--bg-fade-point) - (var(--bg-fade-width-start, 0) / 2));
	--bg-fade-end: calc(var(--bg-fade-point) + (var(--bg-fade-width-end, 0) / 2));
	
	--bg-side-width: 50%;
}

html {
	height:100%;
}
body {
	margin: 0;
	position: relative;
	padding-top: 30px;
}
body::before {
	content: "";
	background-image: linear-gradient(to left, var(--bg-fade-color), var(--bg-fade-color) var(--bg-fade-start), transparent  var(--bg-fade-end), transparent),
							var(--bg-squares-url-left), var(--bg-patter-url-left);
	background-repeat: repeat-y,
							 repeat-y, var(--bg-repeat);
	background-size: auto,
						  var(--bg-pattern-size), var(--bg-pattern-size);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: var(--bg-side-width);
	display: block;
	z-index: -1;
}

body::after {
	content: "";
	background-image: linear-gradient(to var(--bg-mirror-val2, right), var(--bg-fade-color), var(--bg-fade-color) var(--bg-fade-start), transparent  var(--bg-fade-end), transparent),
							var(--bg-squares-url-right), var(--bg-patter-url-right);
	background-repeat: repeat-y,
							 repeat-y, var(--bg-repeat);
	background-size: auto,
						  var(--bg-pattern-size), var(--bg-pattern-size);
	background-position-x: var(--bg-mirror-val2, right);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	transform: scale(var(--bg-mirror-val1), 1);
	width: var(--bg-side-width);
	display: block;
	z-index: -1;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: var(--content-width);
	height: 2900px;
	background-color: #daf2ff;
	padding: 30px;
	box-sizing: border-box;
}

hr {
	background: none;
	border: none;
	height: 10px;
}